body{text-align: right;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(7, 121, 197);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;   
}
.button{
    background-color: rgb(0, 0, 0);
    color: beige;
    border: 100px rgb(255, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(60, 61, 61);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(231, 172, 9);
    color: beige;
    border: 100px black;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 162, 74);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
