body {
    text-align: center;
    background-color: rgb(230, 226, 203);
}

p{color: rgb(33, 2, 9);}
h1{color: rgb(38, 2, 36);}
h6{color: rgb(185, 41, 166);}

img{
    border-radius: 10px;
}
.button{
    background-color: brown;
    color: beige;
    border: 10px black;
    padding: 10px 20px;
}

.button:hover {
  background-color: rgb(80, 226, 43);
    color: beige;
    border: 1px black;
    padding: 10px 20px;
}