body {
    text-align: center;
    background-color: rgb(230, 226, 203);
}

p{color: rgb(33, 2, 9);}
h1{color: rgb(38, 2, 36);}
h6{color: rgb(185, 41, 166);}

img{
    border-radius: 10px;
}
.button{
    background-color: brown;
    color: beige;
    border: 10px black;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 15px brown;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(219, 74, 74);
    color: beige;
    border: 1px black;
    padding: 7px 14px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 15px rgb(165, 48, 48);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}